.volunteer-login{
    text-align: center;
    margin-top: 50px;
    
}

.form-logo{
    
    width: 300px;
    height: 80px;
} 

.login-form {
    border: 1px solid lightgrey;
    padding: 40px;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px; 
    
}