  
.login-card{
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 120px;
}
.login-card h3{
    font-weight: 700;
}
.login-card button{
    width: 400px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    margin: 10px 0 10px 0;
}
.login-card button img{
    height: 30px;
}